[submodule "lib/glew"]
	path = lib/glew
	url = https://github.com/omniavinco/glew-cmake
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm
[submodule "lib/sfml"]
	path = lib/sfml
	url = https://github.com/SFML/SFML
[submodule "glew-cmake"]
	path = glew-cmake
	url = https://github.com/omniavinco/glew-cmake
